/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
#container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
}

.aside {
  position: relative;
  width: 40vh;
  background: url(./images/simon-hermans-Ze7OZ8YLD-A-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aside-header {
  color: white;
  text-align: center;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 10vh;
  padding: 15px 0;
}

.aside-footer {
  position: absolute; /* Cambiado de 'relative' a 'absolute' */
  bottom: 0; /* Posiciona el footer en la parte inferior */
  text-align: center;
  width: 100%; /* Hace que el footer ocupe todo el ancho del contenedor */
  padding: 15px 0;
  color: white;
}

main {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
